@import '~bootstrap/scss/bootstrap';
#content {
  background-image: url('public/parking-lot.jpeg');
  width: 100%;
  height: 500px;

}

.logoimg {
  height: 60px;
  width: 60px;
}

#sign-in, #sign-up, #change-password, #sign-out, #edit {
  width: 250px;
  position: relative;
}

.navbar-dark .navbar-brand {
  color: #fff;
  padding: 1.1rem;
  background-color: white;
  border-radius: 50%;
}

.navbar {
  position: relative;
}

span {
  font-size: 35px;
  color: rgb(211, 128, 19);
}

table, td, th, tr {
  border: 2px solid rgb(128, 125, 125);
  color: rgb(206, 200, 200);
  text-align: center;
}

th {
  padding: 5px 2px;
}

td {
  padding: 5px;
}

table {
  margin: auto;
  background-color: black;

  
}

.vehicle-form {
  color: rgb(211, 128, 19);
  padding: 5px;
  text-align: center;
}

.vehicle-form input {
  margin: 3px;
  border: solid rgb(128, 125, 125);
}

.alert {
  text-align: center;
}

#list-vehicle {
  text-align: center;
  margin: 10px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  tr .vehicle-id, tr .user-email, tr .user-id {
    display: none;
  }
  .add-vehicle {
    padding: 2px 50px;
  }
}