@import '~bootstrap/scss/bootstrap';
#content {
  background-image: url('public/parking-lot.jpeg');
  width: 100%;
  height: 500px;

}

.logoimg {
  height: 60px;
  width: 60px;
}

#sign-in, #sign-up, #change-password, #sign-out, #edit {
  width: 250px;
  position: relative;
}

.navbar-dark .navbar-brand {
  color: #fff;
  padding: 1.1rem;
  background-color: white;
  border-radius: 50%;
}

.navbar {
  position: relative;
}

span {
  font-size: 35px;
  color: rgb(211, 128, 19);
}

table, td, th, tr {
  border: 1px solid rgb(211, 207, 192);
  color: rgb(211, 128, 19);
  text-align: center;
}

table {
  margin: auto;

  
}

.vehicle-form {
  color: rgb(211, 128, 19);
  padding: 5px;
  text-align: center;
}

.vehicle-form input {
  margin: 3px;
  border: solid orange;
  opacity: 0.5;
}

.alert {
  text-align: center;
}

#list-vehicle {
  text-align: center;
}