@import '~bootstrap/scss/bootstrap';
#content {
  background-image: url('assets/images/parking-lot.jpeg');
  width: 100%;
  height: 600px;

}

.logoimg {
  height: 60px;
  width: 60px;
}

form {
  width: 250px;
  position: relative;
}

.navbar-dark .navbar-brand {
  color: #fff;
  padding: 1.1rem;
  background-color: white;
  border-radius: 50%;
}

.navbar {
  position: relative;
}

.main-image img {
  width: 100%;
}

section {
  text-align: center;
  color: #fff;
}

#welcome-message {
  font-size: 40px;
}
